body {
    margin:0;
}
#content {
        margin: 5px 20px 0 20px;
}
.menubar {
    border-bottom: 1px solid rgb(19, 55, 131);
    margin:0;
    font-size:10pt;
    background-color: rgb(59, 89, 152);
    color: rgb(216, 223, 234);
}

.menubar table {
    width:100%;
}

.menubar .logout {
    text-align:right;
}

.menubar .logout a {
    text-decoration:none;
    color: rgb(216, 223, 234);
    font-weight:bold;
}

.menubar .logout a:hover {
    text-decoration:none;
    color: white;
    
}

.menubar .title {
color:white;
}
